.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    overflow-x:hidden !important;
}
.container{
    border:solid;
    border-color:red;
}

.admitere-remove-padding{
    padding-top:0 !important;
}

.container-fluid{
    overflow: hidden;
    }